NET "ddr2_a<0>" IOSTANDARD = SSTL18_I | LOC = AJ6;
NET "ddr2_a<1>" IOSTANDARD = SSTL18_I | LOC = AB6;
NET "ddr2_a<2>" IOSTANDARD = SSTL18_I | LOC = AF6;
NET "ddr2_a<3>" IOSTANDARD = SSTL18_I | LOC = Y6;
NET "ddr2_a<4>" IOSTANDARD = SSTL18_I | LOC = AE6;
NET "ddr2_a<5>" IOSTANDARD = SSTL18_I | LOC = AA6;
NET "ddr2_a<6>" IOSTANDARD = SSTL18_I | LOC = W6;
NET "ddr2_a<7>" IOSTANDARD = SSTL18_I | LOC = AC7;
NET "ddr2_a<8>" IOSTANDARD = SSTL18_I | LOC = AK6;
NET "ddr2_a<9>" IOSTANDARD = SSTL18_I | LOC = AK7;
NET "ddr2_a<10>" IOSTANDARD = SSTL18_I | LOC = AD6;
NET "ddr2_a<11>" IOSTANDARD = SSTL18_I | LOC = Y7;
NET "ddr2_a<12>" IOSTANDARD = SSTL18_I | LOC = AJ7;
NET "ddr2_a<13>" IOSTANDARD = SSTL18_I | LOC = AC4;
NET "ddr2_a<14>" IOSTANDARD = SSTL18_I | LOC = AH7;
NET "ddr2_a<15>" IOSTANDARD = SSTL18_I | LOC = AE7;
NET "ddr2_ba<0>" IOSTANDARD = SSTL18_I | LOC = AA5;
NET "ddr2_ba<1>" IOSTANDARD = SSTL18_I | LOC = AB5;
NET "ddr2_ba<2>" IOSTANDARD = SSTL18_I | LOC = AB7;
NET "ddr2_cas_n" IOSTANDARD = SSTL18_I | LOC = AD4;
NET "ddr2_ck_0_n" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AF5;
NET "ddr2_ck_0_p" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AG5;
NET "ddr2_ck_1_n" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AL16;
NET "ddr2_ck_1_p" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AK16;
NET "ddr2_ck_2_n" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AH8;
NET "ddr2_ck_2_p" IOSTANDARD = DIFF_SSTL18_II_DCI | LOC = AG8;
NET "DDR2_CKE_0" IOSTANDARD = SSTL18_I | LOC = AL11;
NET "DDR2_CKE_1" IOSTANDARD = SSTL18_I | LOC = AK12;
NET "DDR2_CS_N_0" IOSTANDARD = SSTL18_I | LOC = AM21;
NET "DDR2_CS_N_1" IOSTANDARD = SSTL18_I | LOC = AN19;
NET "ddr2_dm<0>" IOSTANDARD = SSTL18_I | LOC = AM30;
NET "ddr2_dm<1>" IOSTANDARD = SSTL18_I | LOC = AN27;
NET "ddr2_dm<2>" IOSTANDARD = SSTL18_I | LOC = AK23;
NET "ddr2_dm<3>" IOSTANDARD = SSTL18_I | LOC = V9;
NET "ddr2_dm<4>" IOSTANDARD = SSTL18_I | LOC = AK14;
NET "ddr2_dm<5>" IOSTANDARD = SSTL18_I | LOC = AA8;
NET "ddr2_dm<6>" IOSTANDARD = SSTL18_I | LOC = AG10;
NET "ddr2_dm<7>" IOSTANDARD = SSTL18_I | LOC = AM12;
NET "ddr2_dm<8>" IOSTANDARD = SSTL18_I | LOC = AN17;
NET "ddr2_dq<0>" IOSTANDARD = SSTL18_II | LOC = AL30;
NET "ddr2_dq<1>" IOSTANDARD = SSTL18_II | LOC = AL31;
NET "ddr2_dq<2>" IOSTANDARD = SSTL18_II | LOC = AP31;
NET "ddr2_dq<3>" IOSTANDARD = SSTL18_II | LOC = AN30;
NET "ddr2_dq<4>" IOSTANDARD = SSTL18_II | LOC = AM31;
NET "ddr2_dq<5>" IOSTANDARD = SSTL18_II | LOC = AL29;
NET "ddr2_dq<6>" IOSTANDARD = SSTL18_II | LOC = AN29;
NET "ddr2_dq<7>" IOSTANDARD = SSTL18_II | LOC = AM27;
NET "ddr2_dq<8>" IOSTANDARD = SSTL18_II | LOC = AM28;
NET "ddr2_dq<9>" IOSTANDARD = SSTL18_II | LOC = AP30;
NET "ddr2_dq<10>" IOSTANDARD = SSTL18_II | LOC = AM22;
NET "ddr2_dq<11>" IOSTANDARD = SSTL18_II | LOC = AN22;
NET "ddr2_dq<12>" IOSTANDARD = SSTL18_II | LOC = AP29;
NET "ddr2_dq<13>" IOSTANDARD = SSTL18_II | LOC = AN28;
NET "ddr2_dq<14>" IOSTANDARD = SSTL18_II | LOC = AP27;
NET "ddr2_dq<15>" IOSTANDARD = SSTL18_II | LOC = AN23;
NET "ddr2_dq<16>" IOSTANDARD = SSTL18_II | LOC = AJ19;
NET "ddr2_dq<17>" IOSTANDARD = SSTL18_II | LOC = AK19;
NET "ddr2_dq<18>" IOSTANDARD = SSTL18_II | LOC = AK22;
NET "ddr2_dq<19>" IOSTANDARD = SSTL18_II | LOC = AJ22;
NET "ddr2_dq<20>" IOSTANDARD = SSTL18_II | LOC = AH24;
NET "ddr2_dq<21>" IOSTANDARD = SSTL18_II | LOC = AK24;
NET "ddr2_dq<22>" IOSTANDARD = SSTL18_II | LOC = AL20;
NET "ddr2_dq<23>" IOSTANDARD = SSTL18_II | LOC = AJ24;
NET "ddr2_dq<24>" IOSTANDARD = SSTL18_II | LOC = AL19;
NET "ddr2_dq<25>" IOSTANDARD = SSTL18_II | LOC = AM17;
NET "ddr2_dq<26>" IOSTANDARD = SSTL18_II | LOC = AJ14;
NET "ddr2_dq<27>" IOSTANDARD = SSTL18_II | LOC = AK13;
NET "ddr2_dq<28>" IOSTANDARD = SSTL18_II | LOC = AH23;
NET "ddr2_dq<29>" IOSTANDARD = SSTL18_II | LOC = AP17;
NET "ddr2_dq<30>" IOSTANDARD = SSTL18_II | LOC = AK18;
NET "ddr2_dq<31>" IOSTANDARD = SSTL18_II | LOC = AM15;
NET "ddr2_dq<32>" IOSTANDARD = SSTL18_II | LOC = AM13;
NET "ddr2_dq<33>" IOSTANDARD = SSTL18_II | LOC = AA10;
NET "ddr2_dq<34>" IOSTANDARD = SSTL18_II | LOC = AC10;
NET "ddr2_dq<35>" IOSTANDARD = SSTL18_II | LOC = AF11;
NET "ddr2_dq<36>" IOSTANDARD = SSTL18_II | LOC = AN14;
NET "ddr2_dq<37>" IOSTANDARD = SSTL18_II | LOC = AE11;
NET "ddr2_dq<38>" IOSTANDARD = SSTL18_II | LOC = AP14;
NET "ddr2_dq<39>" IOSTANDARD = SSTL18_II | LOC = AG11;
NET "ddr2_dq<40>" IOSTANDARD = SSTL18_II | LOC = AF9;
NET "ddr2_dq<41>" IOSTANDARD = SSTL18_II | LOC = AH10;
NET "ddr2_dq<42>" IOSTANDARD = SSTL18_II | LOC = AP12;
NET "ddr2_dq<43>" IOSTANDARD = SSTL18_II | LOC = AM11;
NET "ddr2_dq<44>" IOSTANDARD = SSTL18_II | LOC = AB10;
NET "ddr2_dq<45>" IOSTANDARD = SSTL18_II | LOC = AC9;
NET "ddr2_dq<46>" IOSTANDARD = SSTL18_II | LOC = AN13;
NET "ddr2_dq<47>" IOSTANDARD = SSTL18_II | LOC = AJ9;
NET "ddr2_dq<48>" IOSTANDARD = SSTL18_II | LOC = AC8;
NET "ddr2_dq<49>" IOSTANDARD = SSTL18_II | LOC = AL10;
NET "ddr2_dq<50>" IOSTANDARD = SSTL18_II | LOC = AK8;
NET "ddr2_dq<51>" IOSTANDARD = SSTL18_II | LOC = AA9;
NET "ddr2_dq<52>" IOSTANDARD = SSTL18_II | LOC = AJ10;
NET "ddr2_dq<53>" IOSTANDARD = SSTL18_II | LOC = AB8;
NET "ddr2_dq<54>" IOSTANDARD = SSTL18_II | LOC = AH9;
NET "ddr2_dq<55>" IOSTANDARD = SSTL18_II | LOC = AK9;
NET "ddr2_dq<56>" IOSTANDARD = SSTL18_II | LOC = W11;
NET "ddr2_dq<57>" IOSTANDARD = SSTL18_II | LOC = V10;
NET "ddr2_dq<58>" IOSTANDARD = SSTL18_II | LOC = Y8;
NET "ddr2_dq<59>" IOSTANDARD = SSTL18_II | LOC = W9;
NET "ddr2_dq<60>" IOSTANDARD = SSTL18_II | LOC = Y11;
NET "ddr2_dq<61>" IOSTANDARD = SSTL18_II | LOC = U8;
NET "ddr2_dq<62>" IOSTANDARD = SSTL18_II | LOC = W10;
NET "ddr2_dq<63>" IOSTANDARD = SSTL18_II | LOC = V8;
NET "ddr2_dq<64>" IOSTANDARD = SSTL18_II | LOC = AP16;
NET "ddr2_dq<65>" IOSTANDARD = SSTL18_II | LOC = AJ12;
NET "ddr2_dq<66>" IOSTANDARD = SSTL18_II | LOC = AL13;
NET "ddr2_dq<67>" IOSTANDARD = SSTL18_II | LOC = AP15;
NET "ddr2_dq<68>" IOSTANDARD = SSTL18_II | LOC = AL15;
NET "ddr2_dq<69>" IOSTANDARD = SSTL18_II | LOC = AM16;
NET "ddr2_dq<70>" IOSTANDARD = SSTL18_II | LOC = AN15;
NET "ddr2_dq<71>" IOSTANDARD = SSTL18_II | LOC = AL14;
NET "ddr2_dqs_0" IOSTANDARD = DIFF_SSTL18_II | LOC = AM26;
NET "ddr2_dqs_1" IOSTANDARD = DIFF_SSTL18_II | LOC = AN25;
NET "ddr2_dqs_2" IOSTANDARD = DIFF_SSTL18_II | LOC = AL21;
NET "ddr2_dqs_3" IOSTANDARD = DIFF_SSTL18_II | LOC = AJ21;
NET "ddr2_dqs_4" IOSTANDARD = DIFF_SSTL18_II | LOC = AK11;
NET "ddr2_dqs_5" IOSTANDARD = DIFF_SSTL18_II | LOC = AD10;
NET "ddr2_dqs_6" IOSTANDARD = DIFF_SSTL18_II | LOC = AE8;
NET "ddr2_dqs_7" IOSTANDARD = DIFF_SSTL18_II | LOC = W7;
NET "ddr2_dqs_8" IOSTANDARD = DIFF_SSTL18_II | LOC = AJ16;
NET "ddr2_dqs_n_0" IOSTANDARD = DIFF_SSTL18_II | LOC = AL26;
NET "ddr2_dqs_n_1" IOSTANDARD = DIFF_SSTL18_II | LOC = AM25;
NET "ddr2_dqs_n_2" IOSTANDARD = DIFF_SSTL18_II | LOC = AK21;
NET "ddr2_dqs_n_3" IOSTANDARD = DIFF_SSTL18_II | LOC = AJ20;
NET "ddr2_dqs_n_4" IOSTANDARD = DIFF_SSTL18_II | LOC = AJ11;
NET "ddr2_dqs_n_5" IOSTANDARD = DIFF_SSTL18_II | LOC = AD11;
NET "ddr2_dqs_n_6" IOSTANDARD = DIFF_SSTL18_II | LOC = AD9;
NET "ddr2_dqs_n_7" IOSTANDARD = DIFF_SSTL18_II | LOC = V7;
NET "ddr2_dqs_n_8" IOSTANDARD = DIFF_SSTL18_II | LOC = AJ15;
NET "DDR2_ODT_0" IOSTANDARD = SSTL18_I | LOC = AN20;
NET "DDR2_ODT_1" IOSTANDARD = SSTL18_I | LOC = AM20;
NET "ddr2_par_in" IOSTANDARD = SSTL18_I | LOC = AN18;
NET "ddr2_par_out" IOSTANDARD = SSTL18_I | LOC = AD7;
NET "ddr2_ras_n" IOSTANDARD = SSTL18_I | LOC = AD5;
NET "ddr2_reset_n" IOSTANDARD = SSTL18_I | LOC = AM18;
NET "ddr2_scl" IOSTANDARD = LVCMOS18 | LOC = AP20;
NET "ddr2_sda" IOSTANDARD = LVCMOS18 | LOC = AP19;
NET "ddr2_we_n" IOSTANDARD = SSTL18_I | LOC = AC5;
NET "dly_clk_200_n" IOSTANDARD = LVPECL_25 | LOC = J17;
NET "dly_clk_200_p" IOSTANDARD = LVPECL_25 | LOC = J16;
NET "gpio_clk0_N" IOSTANDARD = LVPECL_25 | LOC = G16;
NET "gpio_clk0_P" IOSTANDARD = LVPECL_25 | LOC = G15;
NET "gpio_clk1_N" LOC = H15;
NET "gpio_clk1_P" LOC = H14;
NET "GPIOLVC15<0>" IOSTANDARD = LVCMOS15 | LOC = A26;
NET "GPIOLVC15<1>" IOSTANDARD = LVCMOS15 | LOC = E24;
NET "GPIOLVC15<2>" IOSTANDARD = LVCMOS15 | LOC = D24;
NET "GPIOLVC15<3>" IOSTANDARD = LVCMOS15 | LOC = B27;
NET "GPIOLVC15<4>" IOSTANDARD = LVCMOS15 | LOC = J10;
NET "GPIOLVC15<5>" IOSTANDARD = LVCMOS15 | LOC = J9;
NET "GPIOLVC15<6>" IOSTANDARD = LVCMOS15 | LOC = H7;
NET "GPIOLVC15<7>" IOSTANDARD = LVCMOS15 | LOC = J7;
NET "GPIOLVC18<0>" IOSTANDARD = LVCMOS18 | LOC = AP26;
NET "GPIOLVC18<1>" IOSTANDARD = LVCMOS18 | LOC = AP25;
NET "GPIOLVC18<2>" IOSTANDARD = LVCMOS18 | LOC = AL25;
NET "GPIOLVC18<3>" IOSTANDARD = LVCMOS18 | LOC = AL24;
NET "GPIOLVC18<4>" IOSTANDARD = LVCMOS18 | LOC = AP22;
NET "GPIOLVC18<5>" IOSTANDARD = LVCMOS18 | LOC = AP21;
NET "GPIOLVC25<0>" IOSTANDARD = LVCMOS25 | LOC = M32;
NET "GPIOLVC25<1>" IOSTANDARD = LVCMOS25 | LOC = N33;
NET "GPIOLVC25<2>" IOSTANDARD = LVCMOS25 | LOC = N34;
NET "GPIOLVC25<3>" IOSTANDARD = LVCMOS25 | LOC = P34;
NET "GPIOLVC25<4>" IOSTANDARD = LVCMOS25 | LOC = R33;
NET "GPIOLVC25<5>" IOSTANDARD = LVCMOS25 | LOC = M33;
NET "GPIOLVC25<6>" IOSTANDARD = LVCMOS25 | LOC = L33;
NET "GPIOLVC25<7>" IOSTANDARD = LVCMOS25 | LOC = P32;
NET "GPIOLVC25<8>" IOSTANDARD = LVCMOS25 | LOC = N32;
NET "GPIOLVC25<9>" IOSTANDARD = LVCMOS25 | LOC = R32;
NET "GPIOLVC25<10>" IOSTANDARD = LVCMOS25 | LOC = P31;
NET "GPIOLVC25<11>" IOSTANDARD = LVCMOS25 | LOC = P30;
NET "GPIOLVC33<3>" IOSTANDARD = LVCMOS33 | LOC = AE18;
NET "GPIOLVC33<4>" IOSTANDARD = LVCMOS33 | LOC = AE14;
NET "mgt_112_ref_clk_N" LOC = P3;
NET "mgt_112_ref_clk_P" LOC = P4;
NET "mgt_114_ref_clk_N" LOC = Y3;
NET "mgt_114_ref_clk_P" LOC = Y4;
NET "mgt_116_ref_clk_N" LOC = H3;
NET "mgt_116_ref_clk_P" LOC = H4;
NET "mgt_118_ref_clk_N" LOC = AF3;
NET "mgt_118_ref_clk_P" LOC = AF4;
NET "mgt_120_ref_clk_N" LOC = D4;
NET "mgt_120_ref_clk_P" LOC = E4;
NET "mgt_122_ref_clk_N" LOC = AL4;
NET "mgt_122_ref_clk_P" LOC = AL5;
NET "mgt_124_ref_clk_N" LOC = C8;
NET "mgt_124_ref_clk_P" LOC = D8;
NET "mgt_126_ref_clk_N" LOC = AM7;
NET "mgt_126_ref_clk_P" LOC = AL7;
NET "mgtrx0_112_N" LOC = P1;
NET "mgtrx0_112_P" LOC = N1;
NET "mgtrx0_114_N" LOC = Y1;
NET "mgtrx0_114_P" LOC = W1;
NET "mgtrx0_116_N" LOC = H1;
NET "mgtrx0_116_P" LOC = G1;
NET "mgtrx0_118_N" LOC = AF1;
NET "mgtrx0_118_P" LOC = AE1;
NET "mgtrx0_120_N" LOC = A2;
NET "mgtrx0_120_P" LOC = A3;
NET "mgtrx0_122_N" LOC = AM1;
NET "mgtrx0_122_P" LOC = AL1;
NET "mgtrx0_124_N" LOC = A8;
NET "mgtrx0_124_P" LOC = A9;
NET "mgtrx0_126_N" LOC = AP7;
NET "mgtrx0_126_P" LOC = AP6;
NET "mgtrx1_112_N" LOC = R1;
NET "mgtrx1_112_P" LOC = T1;
NET "mgtrx1_114_N" LOC = AA1;
NET "mgtrx1_114_P" LOC = AB1;
NET "mgtrx1_116_N" LOC = J1;
NET "mgtrx1_116_P" LOC = K1;
NET "mgtrx1_118_N" LOC = AG1;
NET "mgtrx1_118_P" LOC = AH1;
NET "mgtrx1_120_N" LOC = C1;
NET "mgtrx1_120_P" LOC = D1;
NET "mgtrx1_122_N" LOC = AP2;
NET "mgtrx1_122_P" LOC = AP3;
NET "mgtrx1_124_N" LOC = A7;
NET "mgtrx1_124_P" LOC = A6;
NET "mgtrx1_126_N" LOC = AP8;
NET "mgtrx1_126_P" LOC = AP9;
NET "mgttx0_112_N" LOC = N2;
NET "mgttx0_112_P" LOC = M2;
NET "mgttx0_114_N" LOC = W2;
NET "mgttx0_114_P" LOC = V2;
NET "mgttx0_116_N" LOC = G2;
NET "mgttx0_116_P" LOC = F2;
NET "mgttx0_118_N" LOC = AE2;
NET "mgttx0_118_P" LOC = AD2;
NET "mgttx0_120_N" LOC = B3;
NET "mgttx0_120_P" LOC = B4;
NET "mgttx0_122_N" LOC = AL2;
NET "mgttx0_122_P" LOC = AK2;
NET "mgttx0_124_N" LOC = B9;
NET "mgttx0_124_P" LOC = B10;
NET "mgttx0_126_N" LOC = AN6;
NET "mgttx0_126_P" LOC = AN5;
NET "mgttx1_112_N" LOC = T2;
NET "mgttx1_112_P" LOC = U2;
NET "mgttx1_114_N" LOC = AB2;
NET "mgttx1_114_P" LOC = AC2;
NET "mgttx1_116_N" LOC = K2;
NET "mgttx1_116_P" LOC = L2;
NET "mgttx1_118_N" LOC = AH2;
NET "mgttx1_118_P" LOC = AJ2;
NET "mgttx1_120_N" LOC = D2;
NET "mgttx1_120_P" LOC = E2;
NET "mgttx1_122_N" LOC = AN3;
NET "mgttx1_122_P" LOC = AN4;
NET "mgttx1_124_N" LOC = B6;
NET "mgttx1_124_P" LOC = B5;
NET "mgttx1_126_N" LOC = AN9;
NET "mgttx1_126_P" LOC = AN10;
NET "PER_A<17>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "PER_A<18>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "PER_A<19>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "PER_A<20>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "PER_A<21>" IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "PER_A<22>" IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "PER_A<23>" IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "PER_A<24>" IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "PER_A<25>" IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "PER_A<26>" IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "PER_A<27>" IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "PER_A<28>" IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "PER_A<29>" IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "PER_A<30>" IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "PER_B_LAST" IOSTANDARD = LVCMOS33 | LOC = H23;
NET "PER_CLK" IOSTANDARD = LVCMOS33 | LOC = AH18;
NET "PER_CS0" IOSTANDARD = LVCMOS33 | LOC = K13;
NET "PER_CS1" IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "PER_D<0>" IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "PER_D<1>" IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "PER_D<2>" IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "PER_D<3>" IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "PER_D<4>" IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "PER_D<5>" IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "PER_D<6>" IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "PER_D<7>" IOSTANDARD = LVCMOS33 | LOC = AF15;
NET "PER_D<8>" IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "PER_D<9>" IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "PER_D<10>" IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "PER_D<11>" IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "PER_D<12>" IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "PER_D<13>" IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "PER_D<14>" IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "PER_D<15>" IOSTANDARD = LVCMOS33 | LOC = AG22;
NET "PER_D_PAR<0>" IOSTANDARD = LVCMOS33 | LOC = AE13;
NET "PER_D_PAR<1>" IOSTANDARD = LVCMOS33 | LOC = AG21;
NET "PER_INT" IOSTANDARD = LVCMOS33 | LOC = G23;
NET "PER_OE_n" IOSTANDARD = LVCMOS33 | LOC = AF21;
NET "PER_R_W_n" IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "PER_READY" IOSTANDARD = LVCMOS33 | LOC = K12;
NET "PER_SP_A<2>" IOSTANDARD = LVCMOS33 | LOC = J12;
NET "PER_SP_A<3>" IOSTANDARD = LVCMOS33 | LOC = L14;
NET "PER_SP_A<4>" IOSTANDARD = LVCMOS33 | LOC = K14;
NET "PER_SP_A<5>" IOSTANDARD = LVCMOS33 | LOC = K23;
NET "PER_SP_A<6>" IOSTANDARD = LVCMOS33 | LOC = G22;
NET "PER_SP_A<7>" IOSTANDARD = LVCMOS33 | LOC = L21;
NET "PER_SP_A<8>" IOSTANDARD = LVCMOS33 | LOC = J15;
NET "PER_SP_A<9>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "PER_SP_A<10>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "PER_SP_A<11>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "PER_SP_A<12>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "PER_SP_A<13>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "PER_SP_A<14>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "PER_SP_A<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "PER_SP_A<16>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "PER_WBE<0>" IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "PER_WBE<1>" IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "qdr2_by0_1_cq" IOSTANDARD = HSTL_I | LOC = K8;
NET "qdr2_by0_1_d<0>" IOSTANDARD = HSTL_I | LOC = R11;
NET "qdr2_by0_1_d<1>" IOSTANDARD = HSTL_I | LOC = T11;
NET "qdr2_by0_1_d<2>" IOSTANDARD = HSTL_I | LOC = G7;
NET "qdr2_by0_1_d<3>" IOSTANDARD = HSTL_I | LOC = E6;
NET "qdr2_by0_1_d<4>" IOSTANDARD = HSTL_I | LOC = T10;
NET "qdr2_by0_1_d<5>" IOSTANDARD = HSTL_I | LOC = T9;
NET "qdr2_by0_1_d<6>" IOSTANDARD = HSTL_I | LOC = M7;
NET "qdr2_by0_1_d<7>" IOSTANDARD = HSTL_I | LOC = R8;
NET "qdr2_by0_1_d<8>" IOSTANDARD = HSTL_I | LOC = T8;
NET "qdr2_by0_1_d<9>" IOSTANDARD = HSTL_I | LOC = U7;
NET "qdr2_by0_1_d<10>" IOSTANDARD = HSTL_I | LOC = P6;
NET "qdr2_by0_1_d<11>" IOSTANDARD = HSTL_I | LOC = R7;
NET "qdr2_by0_1_d<12>" IOSTANDARD = HSTL_I | LOC = P7;
NET "qdr2_by0_1_d<13>" IOSTANDARD = HSTL_I | LOC = N7;
NET "qdr2_by0_1_d<14>" IOSTANDARD = HSTL_I | LOC = J6;
NET "qdr2_by0_1_d<15>" IOSTANDARD = HSTL_I | LOC = N8;
NET "qdr2_by0_1_d<16>" IOSTANDARD = HSTL_I | LOC = K7;
NET "qdr2_by0_1_d<17>" IOSTANDARD = HSTL_I | LOC = E7;
NET "qdr2_by0_1_dll_off" IOSTANDARD = HSTL_I | LOC = E9;
NET "qdr2_by0_1_k" IOSTANDARD = HSTL_II | LOC = H5;
NET "qdr2_by0_1_q<0>" IOSTANDARD = HSTL_I | LOC = E11;
NET "qdr2_by0_1_q<1>" IOSTANDARD = HSTL_I | LOC = G11;
NET "qdr2_by0_1_q<2>" IOSTANDARD = HSTL_I | LOC = F10;
NET "qdr2_by0_1_q<3>" IOSTANDARD = HSTL_I | LOC = G10;
NET "qdr2_by0_1_q<4>" IOSTANDARD = HSTL_I | LOC = H10;
NET "qdr2_by0_1_q<5>" IOSTANDARD = HSTL_I | LOC = H9;
NET "qdr2_by0_1_q<6>" IOSTANDARD = HSTL_I | LOC = F8;
NET "qdr2_by0_1_q<7>" IOSTANDARD = HSTL_I | LOC = M10;
NET "qdr2_by0_1_q<8>" IOSTANDARD = HSTL_I | LOC = H8;
NET "qdr2_by0_1_q<9>" IOSTANDARD = HSTL_I | LOC = M8;
NET "qdr2_by0_1_q<10>" IOSTANDARD = HSTL_I | LOC = N9;
NET "qdr2_by0_1_q<11>" IOSTANDARD = HSTL_I | LOC = L9;
NET "qdr2_by0_1_q<12>" IOSTANDARD = HSTL_I | LOC = N10;
NET "qdr2_by0_1_q<13>" IOSTANDARD = HSTL_I | LOC = G8;
NET "qdr2_by0_1_q<14>" IOSTANDARD = HSTL_I | LOC = E8;
NET "qdr2_by0_1_q<15>" IOSTANDARD = HSTL_I | LOC = F9;
NET "qdr2_by0_1_q<16>" IOSTANDARD = HSTL_I | LOC = K11;
NET "qdr2_by0_1_q<17>" IOSTANDARD = HSTL_I | LOC = J11;
NET "qdr2_by0_1_qvld" IOSTANDARD = HSTL_II | LOC = F11;
NET "qdr2_by0_1_r" IOSTANDARD = HSTL_I | LOC = J5;
NET "qdr2_by0_1_sa<0>" IOSTANDARD = HSTL_I | LOC = T6;
NET "qdr2_by0_1_sa<1>" IOSTANDARD = HSTL_I | LOC = N5;
NET "qdr2_by0_1_sa<2>" IOSTANDARD = HSTL_I | LOC = L4;
NET "qdr2_by0_1_sa<3>" IOSTANDARD = HSTL_I | LOC = K6;
NET "qdr2_by0_1_sa<4>" IOSTANDARD = HSTL_I | LOC = R6;
NET "qdr2_by0_1_sa<5>" IOSTANDARD = HSTL_I | LOC = U10;
NET "qdr2_by0_1_sa<6>" IOSTANDARD = HSTL_I | LOC = D11;
NET "qdr2_by0_1_sa<7>" IOSTANDARD = HSTL_I | LOC = G6;
NET "qdr2_by0_1_sa<8>" IOSTANDARD = HSTL_I | LOC = F6;
NET "qdr2_by0_1_sa<9>" IOSTANDARD = HSTL_I | LOC = D12;
NET "qdr2_by0_1_sa<10>" IOSTANDARD = HSTL_I | LOC = C12;
NET "qdr2_by0_1_sa<11>" IOSTANDARD = HSTL_I | LOC = E13;
NET "qdr2_by0_1_sa<12>" IOSTANDARD = HSTL_I | LOC = B13;
NET "qdr2_by0_1_sa<13>" IOSTANDARD = HSTL_I | LOC = E12;
NET "qdr2_by0_1_sa<14>" IOSTANDARD = HSTL_I | LOC = G13;
NET "qdr2_by0_1_sa<15>" IOSTANDARD = HSTL_I | LOC = F13;
NET "qdr2_by0_1_sa<16>" IOSTANDARD = HSTL_I | LOC = B12;
NET "qdr2_by0_1_sa<17>" IOSTANDARD = HSTL_I | LOC = C13;
NET "qdr2_by0_1_sa<18>" IOSTANDARD = HSTL_I | LOC = A13;
NET "qdr2_by0_1_sa<19>" IOSTANDARD = HSTL_I | LOC = M6;
NET "qdr2_by0_1_sa<20>" IOSTANDARD = HSTL_I | LOC = P5;
NET "qdr2_by0_1_sa<21>" IOSTANDARD = HSTL_I | LOC = G12;
NET "qdr2_by0_1_w" IOSTANDARD = HSTL_I | LOC = M5;
NET "qdr2_by0_bw" IOSTANDARD = HSTL_I | LOC = F5;
NET "qdr2_by1_bw" IOSTANDARD = HSTL_I | LOC = L6;
NET "qdr2_by2_3_cq" IOSTANDARD = HSTL_I | LOC = C24;
NET "qdr2_by2_3_d<0>" IOSTANDARD = HSTL_I | LOC = G21;
NET "qdr2_by2_3_d<1>" IOSTANDARD = HSTL_I | LOC = F21;
NET "qdr2_by2_3_d<2>" IOSTANDARD = HSTL_I | LOC = G20;
NET "qdr2_by2_3_d<3>" IOSTANDARD = HSTL_I | LOC = F20;
NET "qdr2_by2_3_d<4>" IOSTANDARD = HSTL_I | LOC = E19;
NET "qdr2_by2_3_d<5>" IOSTANDARD = HSTL_I | LOC = F16;
NET "qdr2_by2_3_d<6>" IOSTANDARD = HSTL_I | LOC = D17;
NET "qdr2_by2_3_d<7>" IOSTANDARD = HSTL_I | LOC = C17;
NET "qdr2_by2_3_d<8>" IOSTANDARD = HSTL_I | LOC = B17;
NET "qdr2_by2_3_d<9>" IOSTANDARD = HSTL_I | LOC = A16;
NET "qdr2_by2_3_d<10>" IOSTANDARD = HSTL_I | LOC = F18;
NET "qdr2_by2_3_d<11>" IOSTANDARD = HSTL_I | LOC = D21;
NET "qdr2_by2_3_d<12>" IOSTANDARD = HSTL_I | LOC = E21;
NET "qdr2_by2_3_d<13>" IOSTANDARD = HSTL_I | LOC = D22;
NET "qdr2_by2_3_d<14>" IOSTANDARD = HSTL_I | LOC = E22;
NET "qdr2_by2_3_d<15>" IOSTANDARD = HSTL_I | LOC = E23;
NET "qdr2_by2_3_d<16>" IOSTANDARD = HSTL_I | LOC = F23;
NET "qdr2_by2_3_d<17>" IOSTANDARD = HSTL_I | LOC = F24;
NET "qdr2_by2_3_dll_off" IOSTANDARD = HSTL_I | LOC = D20;
NET "qdr2_by2_3_k" IOSTANDARD = HSTL_II | LOC = D14;
NET "qdr2_by2_3_q<0>" IOSTANDARD = HSTL_I | LOC = A24;
NET "qdr2_by2_3_q<1>" IOSTANDARD = HSTL_I | LOC = B23;
NET "qdr2_by2_3_q<2>" IOSTANDARD = HSTL_I | LOC = B22;
NET "qdr2_by2_3_q<3>" IOSTANDARD = HSTL_I | LOC = B21;
NET "qdr2_by2_3_q<4>" IOSTANDARD = HSTL_I | LOC = A21;
NET "qdr2_by2_3_q<5>" IOSTANDARD = HSTL_I | LOC = A20;
NET "qdr2_by2_3_q<6>" IOSTANDARD = HSTL_I | LOC = C18;
NET "qdr2_by2_3_q<7>" IOSTANDARD = HSTL_I | LOC = A19;
NET "qdr2_by2_3_q<8>" IOSTANDARD = HSTL_I | LOC = B18;
NET "qdr2_by2_3_q<9>" IOSTANDARD = HSTL_I | LOC = C19;
NET "qdr2_by2_3_q<10>" IOSTANDARD = HSTL_I | LOC = B20;
NET "qdr2_by2_3_q<11>" IOSTANDARD = HSTL_I | LOC = C20;
NET "qdr2_by2_3_q<12>" IOSTANDARD = HSTL_I | LOC = A23;
NET "qdr2_by2_3_q<13>" IOSTANDARD = HSTL_I | LOC = C22;
NET "qdr2_by2_3_q<14>" IOSTANDARD = HSTL_I | LOC = C23;
NET "qdr2_by2_3_q<15>" IOSTANDARD = HSTL_I | LOC = B25;
NET "qdr2_by2_3_q<16>" IOSTANDARD = HSTL_I | LOC = C25;
NET "qdr2_by2_3_q<17>" IOSTANDARD = HSTL_I | LOC = D26;
NET "qdr2_by2_3_qvld" IOSTANDARD = HSTL_II | LOC = A25;
NET "qdr2_by2_3_r" IOSTANDARD = HSTL_I | LOC = C15;
NET "qdr2_by2_3_sa<0>" IOSTANDARD = HSTL_I | LOC = B16;
NET "qdr2_by2_3_sa<1>" IOSTANDARD = HSTL_I | LOC = C14;
NET "qdr2_by2_3_sa<2>" IOSTANDARD = HSTL_I | LOC = B15;
NET "qdr2_by2_3_sa<3>" IOSTANDARD = HSTL_I | LOC = A15;
NET "qdr2_by2_3_sa<4>" IOSTANDARD = HSTL_I | LOC = E17;
NET "qdr2_by2_3_sa<5>" IOSTANDARD = HSTL_I | LOC = E16;
NET "qdr2_by2_3_sa<6>" IOSTANDARD = HSTL_I | LOC = C28;
NET "qdr2_by2_3_sa<7>" IOSTANDARD = HSTL_I | LOC = C27;
NET "qdr2_by2_3_sa<8>" IOSTANDARD = HSTL_I | LOC = G17;
NET "qdr2_by2_3_sa<9>" IOSTANDARD = HSTL_I | LOC = A31;
NET "qdr2_by2_3_sa<10>" IOSTANDARD = HSTL_I | LOC = D29;
NET "qdr2_by2_3_sa<11>" IOSTANDARD = HSTL_I | LOC = A29;
NET "qdr2_by2_3_sa<12>" IOSTANDARD = HSTL_I | LOC = B26;
NET "qdr2_by2_3_sa<13>" IOSTANDARD = HSTL_I | LOC = D30;
NET "qdr2_by2_3_sa<14>" IOSTANDARD = HSTL_I | LOC = B31;
NET "qdr2_by2_3_sa<15>" IOSTANDARD = HSTL_I | LOC = C30;
NET "qdr2_by2_3_sa<16>" IOSTANDARD = HSTL_I | LOC = B30;
NET "qdr2_by2_3_sa<17>" IOSTANDARD = HSTL_I | LOC = A30;
NET "qdr2_by2_3_sa<18>" IOSTANDARD = HSTL_I | LOC = D27;
NET "qdr2_by2_3_sa<19>" IOSTANDARD = HSTL_I | LOC = A14;
NET "qdr2_by2_3_sa<20>" IOSTANDARD = HSTL_I | LOC = F14;
NET "qdr2_by2_3_sa<21>" IOSTANDARD = HSTL_I | LOC = D31;
NET "qdr2_by2_3_w" IOSTANDARD = HSTL_I | LOC = F15;
NET "qdr2_by2_bw" IOSTANDARD = HSTL_I | LOC = D15;
NET "qdr2_by3_bw" IOSTANDARD = HSTL_I | LOC = D16;
NET "QSH_A_CLK_N" IOSTANDARD = LVDS_25 | LOC = K19;
NET "QSH_A_CLK_P" IOSTANDARD = LVDS_25 | LOC = L19;
NET "QSH_A_D_N<0>" IOSTANDARD = LVDS_25 | LOC = AB33;
NET "QSH_A_D_N<1>" IOSTANDARD = LVDS_25 | LOC = AA26;
NET "QSH_A_D_N<2>" IOSTANDARD = LVDS_25 | LOC = AA30;
NET "QSH_A_D_N<3>" IOSTANDARD = LVDS_25 | LOC = AA24;
NET "QSH_A_D_N<4>" IOSTANDARD = LVDS_25 | LOC = W27;
NET "QSH_A_D_N<5>" IOSTANDARD = LVDS_25 | LOC = AA33;
NET "QSH_A_D_N<6>" IOSTANDARD = LVDS_25 | LOC = V24;
NET "QSH_A_D_N<7>" IOSTANDARD = LVDS_25 | LOC = V29;
NET "QSH_A_D_N<8>" IOSTANDARD = LVDS_25 | LOC = Y31;
NET "QSH_A_D_N<9>" IOSTANDARD = LVDS_25 | LOC = V27;
NET "QSH_A_D_N<10>" IOSTANDARD = LVDS_25 | LOC = V33;
NET "QSH_A_D_N<11>" IOSTANDARD = LVDS_25 | LOC = T26;
NET "QSH_A_D_N<12>" IOSTANDARD = LVDS_25 | LOC = U31;
NET "QSH_A_D_N<13>" IOSTANDARD = LVDS_25 | LOC = T29;
NET "QSH_A_D_N<14>" IOSTANDARD = LVDS_25 | LOC = R34;
NET "QSH_A_D_N<15>" IOSTANDARD = LVDS_25 | LOC = T24;
NET "QSH_A_D_N<16>" IOSTANDARD = LVDS_25 | LOC = R29;
NET "QSH_A_D_N<17>" IOSTANDARD = LVDS_25 | LOC = N25;
NET "QSH_A_D_N<18>" IOSTANDARD = LVDS_25 | LOC = P29;
NET "QSH_A_D_P<0>" IOSTANDARD = LVDS_25 | LOC = AC33;
NET "QSH_A_D_P<1>" IOSTANDARD = LVDS_25 | LOC = AA25;
NET "QSH_A_D_P<2>" IOSTANDARD = LVDS_25 | LOC = AA29;
NET "QSH_A_D_P<3>" IOSTANDARD = LVDS_25 | LOC = Y24;
NET "QSH_A_D_P<4>" IOSTANDARD = LVDS_25 | LOC = Y27;
NET "QSH_A_D_P<5>" IOSTANDARD = LVDS_25 | LOC = Y33;
NET "QSH_A_D_P<6>" IOSTANDARD = LVDS_25 | LOC = W24;
NET "QSH_A_D_P<7>" IOSTANDARD = LVDS_25 | LOC = W29;
NET "QSH_A_D_P<8>" IOSTANDARD = LVDS_25 | LOC = W31;
NET "QSH_A_D_P<9>" IOSTANDARD = LVDS_25 | LOC = V28;
NET "QSH_A_D_P<10>" IOSTANDARD = LVDS_25 | LOC = V32;
NET "QSH_A_D_P<11>" IOSTANDARD = LVDS_25 | LOC = U26;
NET "QSH_A_D_P<12>" IOSTANDARD = LVDS_25 | LOC = U32;
NET "QSH_A_D_P<13>" IOSTANDARD = LVDS_25 | LOC = T28;
NET "QSH_A_D_P<14>" IOSTANDARD = LVDS_25 | LOC = T33;
NET "QSH_A_D_P<15>" IOSTANDARD = LVDS_25 | LOC = R24;
NET "QSH_A_D_P<16>" IOSTANDARD = LVDS_25 | LOC = R28;
NET "QSH_A_D_P<17>" IOSTANDARD = LVDS_25 | LOC = P25;
NET "QSH_A_D_P<18>" IOSTANDARD = LVDS_25 | LOC = N29;
NET "QSH_B_CLK_N" IOSTANDARD = LVDS_25 | LOC = J19;
NET "QSH_B_CLK_P" IOSTANDARD = LVDS_25 | LOC = K18;
NET "QSH_B_D_N<0>" IOSTANDARD = LVDS_25 | LOC = AB32;
NET "QSH_B_D_N<1>" IOSTANDARD = LVDS_25 | LOC = AB26;
NET "QSH_B_D_N<2>" IOSTANDARD = LVDS_25 | LOC = AA28;
NET "QSH_B_D_N<3>" IOSTANDARD = LVDS_25 | LOC = AA31;
NET "QSH_B_D_N<4>" IOSTANDARD = LVDS_25 | LOC = Y34;
NET "QSH_B_D_N<5>" IOSTANDARD = LVDS_25 | LOC = W26;
NET "QSH_B_D_N<6>" IOSTANDARD = LVDS_25 | LOC = Y29;
NET "QSH_B_D_N<7>" IOSTANDARD = LVDS_25 | LOC = W32;
NET "QSH_B_D_N<8>" IOSTANDARD = LVDS_25 | LOC = V34;
NET "QSH_B_D_N<9>" IOSTANDARD = LVDS_25 | LOC = W25;
NET "QSH_B_D_N<10>" IOSTANDARD = LVDS_25 | LOC = W30;
NET "QSH_B_D_N<11>" IOSTANDARD = LVDS_25 | LOC = T25;
NET "QSH_B_D_N<12>" IOSTANDARD = LVDS_25 | LOC = U28;
NET "QSH_B_D_N<13>" IOSTANDARD = LVDS_25 | LOC = T30;
NET "QSH_B_D_N<14>" IOSTANDARD = LVDS_25 | LOC = T34;
NET "QSH_B_D_N<15>" IOSTANDARD = LVDS_25 | LOC = R31;
NET "QSH_B_D_N<16>" IOSTANDARD = LVDS_25 | LOC = R27;
NET "QSH_B_D_N<17>" IOSTANDARD = LVDS_25 | LOC = P27;
NET "QSH_B_D_N<18>" IOSTANDARD = LVDS_25 | LOC = P24;
NET "QSH_B_D_P<0>" IOSTANDARD = LVDS_25 | LOC = AC32;
NET "QSH_B_D_P<1>" IOSTANDARD = LVDS_25 | LOC = AB25;
NET "QSH_B_D_P<2>" IOSTANDARD = LVDS_25 | LOC = AB28;
NET "QSH_B_D_P<3>" IOSTANDARD = LVDS_25 | LOC = AB31;
NET "QSH_B_D_P<4>" IOSTANDARD = LVDS_25 | LOC = AA34;
NET "QSH_B_D_P<5>" IOSTANDARD = LVDS_25 | LOC = Y26;
NET "QSH_B_D_P<6>" IOSTANDARD = LVDS_25 | LOC = Y28;
NET "QSH_B_D_P<7>" IOSTANDARD = LVDS_25 | LOC = Y32;
NET "QSH_B_D_P<8>" IOSTANDARD = LVDS_25 | LOC = W34;
NET "QSH_B_D_P<9>" IOSTANDARD = LVDS_25 | LOC = V25;
NET "QSH_B_D_P<10>" IOSTANDARD = LVDS_25 | LOC = V30;
NET "QSH_B_D_P<11>" IOSTANDARD = LVDS_25 | LOC = U25;
NET "QSH_B_D_P<12>" IOSTANDARD = LVDS_25 | LOC = U27;
NET "QSH_B_D_P<13>" IOSTANDARD = LVDS_25 | LOC = U30;
NET "QSH_B_D_P<14>" IOSTANDARD = LVDS_25 | LOC = U33;
NET "QSH_B_D_P<15>" IOSTANDARD = LVDS_25 | LOC = T31;
NET "QSH_B_D_P<16>" IOSTANDARD = LVDS_25 | LOC = R26;
NET "QSH_B_D_P<17>" IOSTANDARD = LVDS_25 | LOC = P26;
NET "QSH_B_D_P<18>" IOSTANDARD = LVDS_25 | LOC = N24;
NET "sys_clk_n" IOSTANDARD = LVPECL_25 | LOC = H13;
NET "sys_clk_p" IOSTANDARD = LVPECL_25 | LOC = J14;
NET "zdok0_clk0_n" IOSTANDARD = LVDS_25 | LOC = J21;
NET "zdok0_clk0_p" IOSTANDARD = LVDS_25 | LOC = J20;
NET "zdok0_clk1_n" IOSTANDARD = LVDS_25 | LOC = H20;
NET "zdok0_clk1_p" IOSTANDARD = LVDS_25 | LOC = H19;
NET "zdok0_dp_n<0>" IOSTANDARD = LVDS_25 | LOC = N30;
NET "zdok0_dp_n<1>" IOSTANDARD = LVDS_25 | LOC = N28;
NET "zdok0_dp_n<2>" IOSTANDARD = LVDS_25 | LOC = M26;
NET "zdok0_dp_n<3>" IOSTANDARD = LVDS_25 | LOC = L28;
NET "zdok0_dp_n<4>" IOSTANDARD = LVDS_25 | LOC = L24;
NET "zdok0_dp_n<5>" IOSTANDARD = LVDS_25 | LOC = J29;
NET "zdok0_dp_n<6>" IOSTANDARD = LVDS_25 | LOC = G28;
NET "zdok0_dp_n<7>" IOSTANDARD = LVDS_25 | LOC = E31;
NET "zdok0_dp_n<8>" IOSTANDARD = LVDS_25 | LOC = F28;
NET "zdok0_dp_n<9>" IOSTANDARD = LVDS_25 | LOC = D32;
NET "zdok0_dp_n<10>" IOSTANDARD = LVDS_25 | LOC = K34;
NET "zdok0_dp_n<11>" IOSTANDARD = LVDS_25 | LOC = K32;
NET "zdok0_dp_n<12>" IOSTANDARD = LVDS_25 | LOC = H33;
NET "zdok0_dp_n<13>" IOSTANDARD = LVDS_25 | LOC = K26;
NET "zdok0_dp_n<14>" IOSTANDARD = LVDS_25 | LOC = G31;
NET "zdok0_dp_n<15>" IOSTANDARD = LVDS_25 | LOC = J25;
NET "zdok0_dp_n<16>" IOSTANDARD = LVDS_25 | LOC = H27;
NET "zdok0_dp_n<17>" IOSTANDARD = LVDS_25 | LOC = G26;
NET "zdok0_dp_n<18>" IOSTANDARD = LVDS_25 | LOC = E27;
NET "zdok0_dp_n<19>" IOSTANDARD = LVDS_25 | LOC = A33;
NET "zdok0_dp_n<20>" IOSTANDARD = LVDS_25 | LOC = M27;
NET "zdok0_dp_n<21>" IOSTANDARD = LVDS_25 | LOC = K29;
NET "zdok0_dp_n<22>" IOSTANDARD = LVDS_25 | LOC = L26;
NET "zdok0_dp_n<23>" IOSTANDARD = LVDS_25 | LOC = J31;
NET "zdok0_dp_n<24>" IOSTANDARD = LVDS_25 | LOC = F34;
NET "zdok0_dp_n<25>" IOSTANDARD = LVDS_25 | LOC = F30;
NET "zdok0_dp_n<26>" IOSTANDARD = LVDS_25 | LOC = H24;
NET "zdok0_dp_n<27>" IOSTANDARD = LVDS_25 | LOC = F29;
NET "zdok0_dp_n<28>" IOSTANDARD = LVDS_25 | LOC = D34;
NET "zdok0_dp_n<29>" IOSTANDARD = LVDS_25 | LOC = M30;
NET "zdok0_dp_n<30>" IOSTANDARD = LVDS_25 | LOC = L31;
NET "zdok0_dp_n<31>" IOSTANDARD = LVDS_25 | LOC = J34;
NET "zdok0_dp_n<32>" IOSTANDARD = LVDS_25 | LOC = J26;
NET "zdok0_dp_n<33>" IOSTANDARD = LVDS_25 | LOC = H32;
NET "zdok0_dp_n<34>" IOSTANDARD = LVDS_25 | LOC = E34;
NET "zdok0_dp_n<35>" IOSTANDARD = LVDS_25 | LOC = E33;
NET "zdok0_dp_n<36>" IOSTANDARD = LVDS_25 | LOC = F26;
NET "zdok0_dp_n<37>" IOSTANDARD = LVDS_25 | LOC = C33;
NET "zdok0_dp_p<0>" IOSTANDARD = LVDS_25 | LOC = M31;
NET "zdok0_dp_p<1>" IOSTANDARD = LVDS_25 | LOC = M28;
NET "zdok0_dp_p<2>" IOSTANDARD = LVDS_25 | LOC = M25;
NET "zdok0_dp_p<3>" IOSTANDARD = LVDS_25 | LOC = K28;
NET "zdok0_dp_p<4>" IOSTANDARD = LVDS_25 | LOC = K24;
NET "zdok0_dp_p<5>" IOSTANDARD = LVDS_25 | LOC = H29;
NET "zdok0_dp_p<6>" IOSTANDARD = LVDS_25 | LOC = H28;
NET "zdok0_dp_p<7>" IOSTANDARD = LVDS_25 | LOC = F31;
NET "zdok0_dp_p<8>" IOSTANDARD = LVDS_25 | LOC = E28;
NET "zdok0_dp_p<9>" IOSTANDARD = LVDS_25 | LOC = C32;
NET "zdok0_dp_p<10>" IOSTANDARD = LVDS_25 | LOC = L34;
NET "zdok0_dp_p<11>" IOSTANDARD = LVDS_25 | LOC = K33;
NET "zdok0_dp_p<12>" IOSTANDARD = LVDS_25 | LOC = J32;
NET "zdok0_dp_p<13>" IOSTANDARD = LVDS_25 | LOC = K27;
NET "zdok0_dp_p<14>" IOSTANDARD = LVDS_25 | LOC = H30;
NET "zdok0_dp_p<15>" IOSTANDARD = LVDS_25 | LOC = J24;
NET "zdok0_dp_p<16>" IOSTANDARD = LVDS_25 | LOC = G27;
NET "zdok0_dp_p<17>" IOSTANDARD = LVDS_25 | LOC = G25;
NET "zdok0_dp_p<18>" IOSTANDARD = LVDS_25 | LOC = E26;
NET "zdok0_dp_p<19>" IOSTANDARD = LVDS_25 | LOC = B32;
NET "zdok0_dp_p<20>" IOSTANDARD = LVDS_25 | LOC = N27;
NET "zdok0_dp_p<21>" IOSTANDARD = LVDS_25 | LOC = L29;
NET "zdok0_dp_p<22>" IOSTANDARD = LVDS_25 | LOC = L25;
NET "zdok0_dp_p<23>" IOSTANDARD = LVDS_25 | LOC = J30;
NET "zdok0_dp_p<24>" IOSTANDARD = LVDS_25 | LOC = G33;
NET "zdok0_dp_p<25>" IOSTANDARD = LVDS_25 | LOC = G30;
NET "zdok0_dp_p<26>" IOSTANDARD = LVDS_25 | LOC = H25;
NET "zdok0_dp_p<27>" IOSTANDARD = LVDS_25 | LOC = E29;
NET "zdok0_dp_p<28>" IOSTANDARD = LVDS_25 | LOC = C34;
NET "zdok0_dp_p<29>" IOSTANDARD = LVDS_25 | LOC = L30;
NET "zdok0_dp_p<30>" IOSTANDARD = LVDS_25 | LOC = K31;
NET "zdok0_dp_p<31>" IOSTANDARD = LVDS_25 | LOC = H34;
NET "zdok0_dp_p<32>" IOSTANDARD = LVDS_25 | LOC = J27;
NET "zdok0_dp_p<33>" IOSTANDARD = LVDS_25 | LOC = G32;
NET "zdok0_dp_p<34>" IOSTANDARD = LVDS_25 | LOC = F33;
NET "zdok0_dp_p<35>" IOSTANDARD = LVDS_25 | LOC = E32;
NET "zdok0_dp_p<36>" IOSTANDARD = LVDS_25 | LOC = F25;
NET "zdok0_dp_p<37>" IOSTANDARD = LVDS_25 | LOC = B33;
NET "zdok1_clk0_n" IOSTANDARD = LVDS_25 | LOC = H18;
NET "zdok1_clk0_p" IOSTANDARD = LVDS_25 | LOC = H17;
NET "zdok1_clk1_n" IOSTANDARD = LVDS_25 | LOC = L18;
NET "zdok1_clk1_p" IOSTANDARD = LVDS_25 | LOC = K17;
NET "zdok1_dp_n<0>" IOSTANDARD = LVDS_25 | LOC = AN33;
NET "zdok1_dp_n<1>" IOSTANDARD = LVDS_25 | LOC = AJ29;
NET "zdok1_dp_n<2>" IOSTANDARD = LVDS_25 | LOC = AK31;
NET "zdok1_dp_n<3>" IOSTANDARD = LVDS_25 | LOC = AK32;
NET "zdok1_dp_n<4>" IOSTANDARD = LVDS_25 | LOC = AJ34;
NET "zdok1_dp_n<5>" IOSTANDARD = LVDS_25 | LOC = AE26;
NET "zdok1_dp_n<6>" IOSTANDARD = LVDS_25 | LOC = AD25;
NET "zdok1_dp_n<7>" IOSTANDARD = LVDS_25 | LOC = AE34;
NET "zdok1_dp_n<8>" IOSTANDARD = LVDS_25 | LOC = AE32;
NET "zdok1_dp_n<9>" IOSTANDARD = LVDS_25 | LOC = AD34;
NET "zdok1_dp_n<10>" IOSTANDARD = LVDS_25 | LOC = AP32;
NET "zdok1_dp_n<11>" IOSTANDARD = LVDS_25 | LOC = AM32;
NET "zdok1_dp_n<12>" IOSTANDARD = LVDS_25 | LOC = AJ26;
NET "zdok1_dp_n<13>" IOSTANDARD = LVDS_25 | LOC = AG30;
NET "zdok1_dp_n<14>" IOSTANDARD = LVDS_25 | LOC = AF26;
NET "zdok1_dp_n<15>" IOSTANDARD = LVDS_25 | LOC = AE24;
NET "zdok1_dp_n<16>" IOSTANDARD = LVDS_25 | LOC = AF28;
NET "zdok1_dp_n<17>" IOSTANDARD = LVDS_25 | LOC = AC24;
NET "zdok1_dp_n<18>" IOSTANDARD = LVDS_25 | LOC = AD27;
NET "zdok1_dp_n<19>" IOSTANDARD = LVDS_25 | LOC = AC30;
NET "zdok1_dp_n<20>" IOSTANDARD = LVDS_25 | LOC = AH25;
NET "zdok1_dp_n<21>" IOSTANDARD = LVDS_25 | LOC = AL33;
NET "zdok1_dp_n<22>" IOSTANDARD = LVDS_25 | LOC = AK33;
NET "zdok1_dp_n<23>" IOSTANDARD = LVDS_25 | LOC = AG26;
NET "zdok1_dp_n<24>" IOSTANDARD = LVDS_25 | LOC = AF30;
NET "zdok1_dp_n<25>" IOSTANDARD = LVDS_25 | LOC = AH33;
NET "zdok1_dp_n<26>" IOSTANDARD = LVDS_25 | LOC = AD29;
NET "zdok1_dp_n<27>" IOSTANDARD = LVDS_25 | LOC = AC29;
NET "zdok1_dp_n<28>" IOSTANDARD = LVDS_25 | LOC = AC27;
NET "zdok1_dp_n<29>" IOSTANDARD = LVDS_25 | LOC = AJ27;
NET "zdok1_dp_n<30>" IOSTANDARD = LVDS_25 | LOC = AK27;
NET "zdok1_dp_n<31>" IOSTANDARD = LVDS_25 | LOC = AH30;
NET "zdok1_dp_n<32>" IOSTANDARD = LVDS_25 | LOC = AG25;
NET "zdok1_dp_n<33>" IOSTANDARD = LVDS_25 | LOC = AH28;
NET "zdok1_dp_n<34>" IOSTANDARD = LVDS_25 | LOC = AH32;
NET "zdok1_dp_n<35>" IOSTANDARD = LVDS_25 | LOC = AG31;
NET "zdok1_dp_n<36>" IOSTANDARD = LVDS_25 | LOC = AE33;
NET "zdok1_dp_n<37>" IOSTANDARD = LVDS_25 | LOC = AE31;
NET "zdok1_dp_p<0>" IOSTANDARD = LVDS_25 | LOC = AN34;
NET "zdok1_dp_p<1>" IOSTANDARD = LVDS_25 | LOC = AK29;
NET "zdok1_dp_p<2>" IOSTANDARD = LVDS_25 | LOC = AJ31;
NET "zdok1_dp_p<3>" IOSTANDARD = LVDS_25 | LOC = AJ32;
NET "zdok1_dp_p<4>" IOSTANDARD = LVDS_25 | LOC = AH34;
NET "zdok1_dp_p<5>" IOSTANDARD = LVDS_25 | LOC = AE27;
NET "zdok1_dp_p<6>" IOSTANDARD = LVDS_25 | LOC = AD26;
NET "zdok1_dp_p<7>" IOSTANDARD = LVDS_25 | LOC = AF34;
NET "zdok1_dp_p<8>" IOSTANDARD = LVDS_25 | LOC = AD32;
NET "zdok1_dp_p<9>" IOSTANDARD = LVDS_25 | LOC = AC34;
NET "zdok1_dp_p<10>" IOSTANDARD = LVDS_25 | LOC = AN32;
NET "zdok1_dp_p<11>" IOSTANDARD = LVDS_25 | LOC = AM33;
NET "zdok1_dp_p<12>" IOSTANDARD = LVDS_25 | LOC = AH27;
NET "zdok1_dp_p<13>" IOSTANDARD = LVDS_25 | LOC = AH29;
NET "zdok1_dp_p<14>" IOSTANDARD = LVDS_25 | LOC = AF25;
NET "zdok1_dp_p<15>" IOSTANDARD = LVDS_25 | LOC = AD24;
NET "zdok1_dp_p<16>" IOSTANDARD = LVDS_25 | LOC = AE28;
NET "zdok1_dp_p<17>" IOSTANDARD = LVDS_25 | LOC = AC25;
NET "zdok1_dp_p<18>" IOSTANDARD = LVDS_25 | LOC = AC28;
NET "zdok1_dp_p<19>" IOSTANDARD = LVDS_25 | LOC = AB30;
NET "zdok1_dp_p<20>" IOSTANDARD = LVDS_25 | LOC = AJ25;
NET "zdok1_dp_p<21>" IOSTANDARD = LVDS_25 | LOC = AL34;
NET "zdok1_dp_p<22>" IOSTANDARD = LVDS_25 | LOC = AK34;
NET "zdok1_dp_p<23>" IOSTANDARD = LVDS_25 | LOC = AG27;
NET "zdok1_dp_p<24>" IOSTANDARD = LVDS_25 | LOC = AF29;
NET "zdok1_dp_p<25>" IOSTANDARD = LVDS_25 | LOC = AG33;
NET "zdok1_dp_p<26>" IOSTANDARD = LVDS_25 | LOC = AE29;
NET "zdok1_dp_p<27>" IOSTANDARD = LVDS_25 | LOC = AD30;
NET "zdok1_dp_p<28>" IOSTANDARD = LVDS_25 | LOC = AB27;
NET "zdok1_dp_p<29>" IOSTANDARD = LVDS_25 | LOC = AK26;
NET "zdok1_dp_p<30>" IOSTANDARD = LVDS_25 | LOC = AK28;
NET "zdok1_dp_p<31>" IOSTANDARD = LVDS_25 | LOC = AJ30;
NET "zdok1_dp_p<32>" IOSTANDARD = LVDS_25 | LOC = AF24;
NET "zdok1_dp_p<33>" IOSTANDARD = LVDS_25 | LOC = AG28;
NET "zdok1_dp_p<34>" IOSTANDARD = LVDS_25 | LOC = AG32;
NET "zdok1_dp_p<35>" IOSTANDARD = LVDS_25 | LOC = AF31;
NET "zdok1_dp_p<36>" IOSTANDARD = LVDS_25 | LOC = AF33;
NET "zdok1_dp_p<37>" IOSTANDARD = LVDS_25 | LOC = AD31;
NET "gpio_clk1_N" IOSTANDARD = LVPECL_25;
NET "gpio_clk1_P" IOSTANDARD = LVPECL_25;
NET "GPIOLVC33<0>" IOSTANDARD = LVCMOS33 | LOC = H12;
